@font-face {
  font-family: "codify";
  src: url("codify.woff");
  font-weight: normal;
  font-style: normal;
}
body.vscode-light {
  --color: #000;
  --secondary: rgba(0, 0, 0, 0.5);
  --dark: rgba(0, 0, 0, 0.7);
}
body {
  overflow: hidden;
}
body.vscode-dark {
  --color: #fff;
  --secondary: rgba(255, 255, 255, 0.5);
  --dark: rgba(255, 255, 255, 0.7);
}

.delete-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: inherit;
  color: white;
  border: none;
  cursor: pointer;
  padding: 4px 5px;
  border-radius: 50%;
}

#back_button {
  width: 40px;
  display: block;
  background: var(--secondary) !important;
  border: 0 !important;
  color: var(--vscode-editorWidget-background) !important;
  padding: 4px 6px;
  cursor: pointer;
  height: 28px;
}

.chat-history-list {
  margin: 10px;
}

.chat-history-item {
  background-color: #005ba1; /* Blue background color */
  padding: 10px;
  margin: 5px 0;
  height: 40px;
  cursor: pointer;
  position: relative;
}

.chat-name {
  font-weight: bold;
}

.last-question {
  color: lightgrey; /* Light grey text color */
}

.time {
  font-size: 12px;
  display: none; /* Hide the time element */
}
