/* @font-face {
  font-family: "codify";
  src: url("codify.woff");
  font-weight: normal;
  font-style: normal;
} */
* {
  box-sizing: border-box;
}
body {
  overflow: hidden;
}
body.vscode-light {
  --color: #000;
  --secondary: rgba(0, 0, 0, 0.5);
  --dark: rgba(0, 0, 0, 0.7);
}
body.vscode-dark {
  --color: #fff;
  --secondary: rgba(255, 255, 255, 0.5);
  --dark: rgba(255, 255, 255, 0.7);
}

.delete-button {
  position: absolute;
  top: 5px;
  right: 5px;
  color: var(--color);
  border: none;
  cursor: pointer;
  padding: 4px 5px;
  font-size: 18px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  opacity: 0.4;
  transition: 0.23s all ease-in;
  background-color: transparent;

}
.delete-button:hover {
  opacity: 0.7;
  transition: 0.23s all ease-in;
}

/* #back_button {
  border: var(--secondary);
  color: var(--secondary);
  border: none;
  padding: 5px 5px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 6px;
  width:40px;
  margin-bottom: 5px;
}

#back_button:hover {
  background-color: #ddd;
} */
.chat-history {
  height: calc(100vh - 150px);
  position: relative;
  padding: 0 0 0 10px;
  margin-top: 10px;
  display: none;
  width: 100%;
}
.chat-history-list {
  box-sizing: border-box;
  margin-top: 0px;
  overflow-y: scroll;
  height: calc(100vh - 150px);
  width: 100%;
}

.chat-history-item {
  background-color: var(--vscode-editor-background);
  padding: 15px;
  margin: 0px 0 10px;
  height: auto;
  cursor: pointer;
  width: 100%;
  position: relative;
  border-radius: 6px;
  opacity: 0.8;
  transition: 0.23s all ease-in;
}
.vscode-high-contrast .chat-history-item {
  border: 1px solid var(--vscode-textSeparator-foreground) !important;
}
.chat-history-item:hover {
  opacity: 1;
  transition: 0.23s all ease-in;
  transform: translateX(-1px);
}
.vscode-high-contrast .chat-history-item:hover {
  transform: translateX(0px);
}
.chat-name {
  font-weight: bold;
  text-transform: capitalize;
}

.last-question {
  color: var(--vscode-foreground);
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.last-question svg {
  margin-right: 3px;
}
.chat-timestamp {
  color: var(--vscode-foreground);
  display: flex;
  align-items: center;
}
.chat-timestamp svg {
  margin-right: 3px;
}
.chat-info {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 11px;
  width: 100%;
}
.chat-history-today,
.chat-history-week,
.chat-history-later {
  opacity: 0.6;
  margin-bottom: 5px;
  margin-top: 0;
}