@font-face {
    font-family: "codify";
    src: url("codify.woff");
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

body {
    box-sizing: border-box;
    padding: 0;
}

body.vscode-light {
    --color: #000;
    --secondary: rgba(0, 0, 0, 0.5);
    --dark: rgba(0, 0, 0, 0.7);
    --light: rgba(0, 0, 0, 0.1);
}

body.vscode-dark {
    --color: #fff;
    --secondary: rgba(255, 255, 255, 0.5);
    --dark: rgba(255, 255, 255, 0.7);
    --light: rgba(255, 255, 255, 0.1);
}

.refactcss-chat {
    max-width: 900px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.refactcss-chat ::-webkit-scrollbar:horizontal {
    height: 6px !important;
}

.refactcss-chat__wrapper {
    height: calc(100% - 35px);
    width: 100%;
}

.refactcss-chat__inner {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.refactcss-chat__content {
    max-height: calc(100% - 190px);
    overflow-y: auto;
}

.refactcss-chat__panel {
    height: 190px;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    overflow: hidden;
    align-items: flex-end;
}

.refactcss-chat__controls {
    width: 100%;
    padding: 0 10px;
    margin-bottom: 15px;
}

.refactcss-chat__controls>div {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.refactcss-chat__controls label {
    color: var(--color) !important;
}

.refactcss-chat__controls select {
    margin-left: 5px;
}

.refactcss-chat__controls input {
    margin-left: 0;
    padding-left: 0;
    display: block;
}

.refactcss-chat__content .refactcss-chat__controls {
    opacity: 0.35 !important;
    pointer-events: none !important;
}

.refactcss-chat__item {
    padding: 0 10px;
    position: relative;
    /* margin-bottom: 30px; */
}

.refactcss-chat__question {
    padding: 10px;
    width: calc(100%);
    max-width: 600px;
    overflow: hidden;
    border-radius: 6px;
    border: 1px solid var(--light);
    background-color: var(--vscode-editor-background);
}
.refactcss-chat__question::after {
    content: '';
    display: block;
    width: 14px;
    height: 14px;
    border-left: 1px solid var(--light);
    border-bottom: 1px solid var(--light);
    position: absolute;
    right: 24px;
    margin-top: 4px;
    border-bottom-left-radius: 2px;
    transform: rotate(-45deg);
    transform-origin: center;
    z-index: 5;
    background-color: var(--vscode-editor-background);
}

.refactcss-chat__answer {
    margin-top: 10px;
    width: 100%;
    max-width: 600px;
    /* margin-right: auto; */
    padding: 5px 0;
    /* padding-left: 25px; */
    overflow: hidden;
    width: 100%;
    margin-bottom: 20px;
    /* border-radius: 6px; */
    /* border-left: 2px solid var(--light); */
}

.refactcss-chat__commands {
    margin-top: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 170px;
}

.refactcss-chat__input {
    width: 100%;
    border-radius: 6px;
    border: 1px solid var(--secondary);
    padding: 15px;
    background: transparent !important;
    color: var(--secodary) !important;
    font-family: sans-serif !important;
    font-size: 14px;
    overflow-x: auto;
    height: 160px !important;
}

.refactcss-chat__button {
    position: absolute;
    bottom: 10px;
    right: 0px;
    width: 30px;
    height: 30px;
    border: none !important;
    cursor: pointer;
    border-radius: 6px;
    color: var(--secodary) !important;
    background: transparent !important;
    z-index: 999 !important;
    display: flex;
    align-items: center;
    justify-content: center;
}
.vscode-high-contrast .refactcss-chat__button {
    border: 1px solid var(--vscode-textSeparator-foreground);
}

.refactcss-chat__snippet {
    position: relative;
}

.refactcss-chat__button span::before {
    content: "\e803";
    font-family: "codify";
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    font-variant: normal;
    text-transform: none;
    height: 16px;
    width: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.refactcss-chat__item table {
    border-collapse: collapse;
}

.refactcss-chat__item td,
.refactcss-chat__item th {
    border: 1px solid var(--secondary);
    padding: 5px;
}

.refactcss-chat__item pre code {
    display: block;
    position: relative;
    background: none;
    white-space: pre;
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
    max-width: 100%;
    min-width: 100px;
    padding: 30px 15px 15px;
    background-color: var(--light);
    font-family: monospace;
    line-height: 1.1;
    border-radius: 6px;
}
.vscode-high-contrast .refactcss-chat__item pre code {
    border: 1px solid var(--vscode-textSeparator-foreground);
}


.refactcss-chat__item ul {
    list-style: none;
    padding: 0;
}

.refactcss-chat__copybutton {
    position: absolute;
    top: 3px;
    right: 3px;
    width: 40px;
    height: 20px;
    border: none !important;
    cursor: pointer;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 8px;
    opacity: 0.4;
    transition: 0.23s all ease-in;
}

.refactcss-chat__question .refactcss-chat__copybutton {
    right: 13px;
}

.refactcss-chat__copybutton:hover {
    opacity: 1;
    transition: 0.23s all ease-in;
}

.refactcss-chat__newbutton {
    position: absolute;
    top: 3px;
    right: 46px;
    width: 70px;
    height: 20px;
    border: none !important;
    cursor: pointer;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 8px;
    opacity: 0.4;
    transition: 0.23s all ease-in;
}

.refactcss-chat__newbutton:hover {
    opacity: 1;
    transition: 0.23s all ease-in;
}

.refactcss-chat__diffbutton {
    position: absolute;
    top: 3px;
    /* right = 46 + 70 + 3 */
    right: 119px;
    width: 60px;
    height: 20px;
    border: none !important;
    cursor: pointer;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 8px;
    opacity: 0.4;
    transition: 0.23s all ease-in;
}

.refactcss-chat__diffbutton:hover {
    opacity: 1;
    transition: 0.23s all ease-in;
}

.refactcss-chat__item ul li {
    margin: 5px 0;
}

.refactcss-chat__item ol {
    padding: 0;
    counter-reset: mycounter;
}

.refactcss-chat__item ol li {
    /* margin: 5px 0; */
    margin-left: 16px;
    /* padding-left: 0.5em; */
    margin-top: 5px;
    margin-bottom: 5px;
}

.refactcss-chat__item ol li:before {
    content: counter(mycounter) ".";
    counter-increment: mycounter;
    position: absolute;
    left: -2em;
    width: 1.5em;
    text-align: right;
}

.refactcss-chat__stop {
    margin-left: auto;
    background: transparent !important;
    border: 1px solid var(--secondary) !important;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 34px;
    color: var(--secondary) !important;
    margin-bottom: 15px;
    font-size: 12px;
    cursor: pointer;
    display: none;
}

.refactcss-chat__stop span {
    margin-right: 4px;
}

.refactcss-chat__stop span::before {
    content: "\e80E";
    font-family: "codify";
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    font-variant: normal;
    text-transform: none;
    height: 16px;
    width: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.refactcss-chat__cancel-button {
    background-color: #ff6666;
    /* Red background color */
    color: #fff;
    /* White text color */
    border: none;
    padding: 5px 10px;
    margin-right: 10px;
    margin-left: auto;
    cursor: pointer;
    margin-top: 5px;
}

.back-button {
    background-color: transparent;
    border: 1px solid var(--secondary);
    color: var(--secondary);
    padding: 5px 20px;
    cursor: pointer;
    font-size: 12px;
    border-radius: 8px;
    margin-bottom: 5px;
    margin-left: 10px;
}

.vscode-high-contrast .back-button {
    border: 1px solid var(--vscode-textSeparator-foreground);
}

.back-button:hover {
    /* background-color: #ddd;  */
}

.refactcss-chat__submit-button {
    background-color: #66cc66;
    /* Green background color */
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 5px;
}

.refactcss-chat__question_div {
    width: 100%;

    background: transparent !important;
    font-family: sans-serif !important;
    font-size: 14px;
    overflow-x: auto;
    text-align: left;
}

.refactcss-chat__input-field {
    width: 100%;

    border: 1px solid var(--secondary);
    padding: 10px;
    background: transparent !important;
    color: var(--secondary) !important;
    font-family: sans-serif !important;
    font-size: 14px;
    overflow-x: auto;
}

.refactcss-chat__cancel-button,
.refactcss-chat__submit-button {
    display: inline-block;
    background-color: #ff6666;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin: 5px 5px;
}

.refactcss-chat__submit-button {
    background-color: #66cc66;
}

.refactcss-chat__question-input {
    width: 100%;

    border: 1px solid var(--secondary);
    padding: 10px;
    background: transparent !important;
    color: var(--secodary) !important;
    font-family: sans-serif !important;
    font-size: 14px;
    overflow-x: auto;
    min-height: 40px;
    resize: vertical;
}

.refactcss-chat__question {
    text-align: center;
}

#chat-model {
    background-color: transparent !important;
    border-radius: 4px;
    color: var(--dark) !important;
    border-color: var(--dark) !important;
    padding: 4px;
    font-size: 12px;
    width: 100%;
}

.refactcss-chat__model span {
    width: 100px;
    display: block;
}
body.vscode-light {
    --hlbg: #ffffff;
    --hlcolor1: #000000;
    --hlcolor2: #000000;
    --hlcolor3: #000080;
    --hlcolor4: #800080;
    --hlcolor5: #808000;
    --hlcolor6: #800000;
    --hlcolor7: #0055AF;
    --hlcolor8: #008000;
    --hlcolor9: #008000;
}

body.vscode-dark {
    --hlbg: #000000;
    --hlcolor1: #aaaaaa;
    --hlcolor2: #a8a8a2;
    --hlcolor3: #ff55ff;
    --hlcolor4: #aaaaff;
    --hlcolor5: #ffff55;
    --hlcolor6: #ff5555;
    --hlcolor7: #8888ff;
    --hlcolor8: #ff55ff;
    --hlcolor9: #55ffff;
}
.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background: var(--hlbg);
}

.hljs,
.hljs-subst,
.hljs-tag,
.hljs-title {
    color: var(--hlcolor1);
}

.hljs-strong,
.hljs-emphasis {
    color: var(--hlcolor2);
}

.hljs-bullet,
.hljs-quote,
.hljs-number,
.hljs-regexp,
.hljs-literal {
    color: var(--hlcolor3);
}

.hljs-code .hljs-selector-class {
    color: var(--hlcolor4);
}

.hljs-emphasis,
.hljs-stronge,
.hljs-type {
    font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-function,
.hljs-section,
.hljs-symbol,
.hljs-name {
    color: var(--hlcolor5);
}

.hljs-attribute {
    color: var(--hlcolor6);
}

.hljs-variable,
.hljs-params,
.hljs-class .hljs-title {
    color: var(--hlcolor7);
}

.hljs-string,
.hljs-selector-id,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-type,
.hljs-built_in,
.hljs-builtin-name,
.hljs-template-tag,
.hljs-template-variable,
.hljs-addition,
.hljs-link {
    color: var(--hlcolor8);
}

.hljs-comment,
.hljs-meta,
.hljs-deletion {
    color: var(--hlcolor9);
}