/* @font-face {
  font-family: "codify";
  src: url("codify.woff");
  font-weight: normal;
  font-style: normal;
} */
* {
  box-sizing: border-box;
}
body.vscode-light {
  --color: #000;
  --secondary: rgba(0, 0, 0, 0.5);
  --dark: rgba(0, 0, 0, 0.7);
}
body {
  overflow: hidden;
}
body.vscode-dark {
  --color: #fff;
  --secondary: rgba(255, 255, 255, 0.5);
  --dark: rgba(255, 255, 255, 0.7);
}

.delete-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: inherit;
  color: white;
  border: none;
  cursor: pointer;
  padding: 4px 5px;
  border-radius: 50%;
}

#back_button {
  background-color: #f0f0f0;
  color: #333;
  border: none;
  padding: 5px 5px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 10px;
  width:40px;
  margin-bottom: 5px;
}

#back_button:hover {
  background-color: #ddd;
}

.chat-history-list {
  box-sizing: border-box;
  margin-top: 10px;
}

.chat-history-item {
  background-color: #005ba1; /* Blue background color */
  padding: 15px;
  margin: 5px 0;
  height: auto;
  cursor: pointer;
  width: 100%;
  position: relative;
  border-radius: 8px;
}

.chat-name {
  font-weight: bold;
}

.last-question {
  color: lightgrey; /* Light grey text color */
}

.chat-timestamp {
  font-size: 12px;
  color: #999; /* Gray color for the timestamp */
  margin-bottom: 5px;
}