.radix-themes {
  /** TODO: see if there are more theme-able variables */
    /* color: var(--vscode-editor-foreground); */
    /* --color-background: var(--vscode-editor-background); */
    /* --color-page-background: var(--vscode-editor-background); */
   /*  --color-background: var(--vscode-tab-unfocusedInactiveBackground); */
   /* background-color: var(--color-background); */
}

:root, .light, .light-theme, .dark, .dark-theme {
    /* --color-page-background: var(--vscode-editor-background); */
}

body {
    padding: 0;
    background-color: transparent;
}

:where(.vscode-light) {
    color-scheme: light;
  }

:where(.vscode-dark) {
    color-scheme: dark;
}

.hljs {
  background: var(--vscode-textPreformat-background);
}