.presets {
    list-style: none;
    padding: 0;
    margin: 0;
}
.presets li {
    list-style: none;
    cursor: pointer;
    font-size: 1.25em;
    line-height: 1.5em;
}
.presets li:hover {
    color: lime;
}
#quickinput {
    width: 100%;
    height: 36px;
    border: 1px solid #ddd;
    background: transparent;
    color: #FFF;
    padding: 0 10px;
    font-size: 1.25em;
    box-sizing: border-box;
}
#quickbar {
    display: flex;
    align-items: center;
}
#quicksubmit {
    background: transparent;
    color: #eee;
    height: 36px;
    display: flex;
    align-items: center;
    border: 0;
    font-size: 1.25em;
    opacity: 0.3;
    cursor: pointer;
}
.presets-title {
    font-size: 14px;
    padding-bottom: 5px;
    font-weight: bold;
    margin-bottom: 5px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    text-transform: uppercase;
    letter-spacing: 1px;
}
.history-title {
    margin-top: 20px;
    font-size: 14px;
    padding-bottom: 5px;
    font-weight: bold;
    margin-bottom: 5px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    text-transform: uppercase;
    letter-spacing: 1px;
}