body {
    max-width: 800px;
    position: relative;
}
body.vscode-light {
	--color: #000;
    --secondary: rgba(0,0,0,0.5);
    --dark: rgba(0,0,0,0.7);
}

body.vscode-dark {
	--color: #FFF;
    --secondary: rgba(255,255,255,0.5);
    --dark: rgba(255,255,255,0.7);
}
.refactcss-privacy {}

.refactcss-privacy__global {
    margin-bottom: 50px;
    font-size: 16px;
}

.refactcss-privacy__title {
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 1px;
    display: inline-flex;
    border-bottom: 1px solid var(--secondary);
    padding-bottom: 1px;
}

.refactcss-privacy__subtitle {
    font-size: 18px;
    margin-top: 40px;
}

.refactcss-privacy__defaults {
    margin-top: 20px;
    margin-bottom: 20px;
}
.refactcss-privacy__info {
    font-size: 12px;
}
.refactcss-privacy__item {
    margin-bottom: 20px;
    padding: 0;
}
.refactcss-privacy__item label {
    font-size: 15px;
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 100%;
    overflow: hidden;
}

.refactcss-radio {
    pointer-events: none;
    position: relative;
    margin: 0;
    margin-top: -2px;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    padding: 0;
    margin-right: 5px;
    outline: 0 !important;

}

.refactcss-help-text {
    margin: 5px 0 0 25px;
    padding: 0;
    font-size: 12px;
}

.refactcss-privacy__overrides {}

/* Overrides */

.overrides {
    max-width: 800px;
    width: 100%;
    font-size: 12px;
}

.overrides__header {
    display: grid;
    grid-template-columns: 1fr 160px 20px;
    border-bottom: 1px solid var(--secondary);
    padding: 5px 0;
    color: var(--secondary);
    column-gap: 10px;
    line-height: 2;
}

.overrides__path {
    line-height: 2;
}

.overrides__item .overrides__selector {
    border: 1px solid var(--color);
    padding-right: 10px;

}
.overrides__selector select {
    border: 0;
    padding: 4px 8px;
    background: transparent;
    outline: none !important;
    width: 100%;
    color: var(--color);
}

.overrides__action {}

.overrides__item {
    display: grid;
    grid-template-columns: 1fr 160px 20px;
    border-bottom: 1px solid var(--secondary);
    color: var(--color);
    padding: 5px 0;
    align-items: center;
    column-gap: 10px;

}

.overrides__select {
}

.overrides__delete {
    background: transparent;
    border: 0;
    padding: 0;
    margin: 0;
    width: 16px;
    height: 16px;
    cursor: pointer;

}
.overrides__delete svg {
    width: 16px;
    height: 16px;
    fill: var(--secondary);
}




/* .refactcss-privacy__inline {
    display: flex;
    align-items: center;
}

.refactcss-privacy__select {
    margin-left: 10px;
    border: 1px solid var(--secondary);
    padding-right: 4px;
}
.refactcss-privacy__select select {
    border: 0;
    padding: 4px 8px;
    color: var(--secondary);
    background: transparent;
    outline: none !important;
} */


/* Privacy Popup */
.privacy-popup {
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translate(-50%, -10%);
    width: 400px;
    border: 1px solid var(--secondary);
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
    padding: 20px;
    background-color: var(--vscode-sideBar-background) !important;
    z-index: 99;
}
.privacy-popup-content {
    font-size: 14px;
}
.privacy-popup-actions {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.privacy-popup-cancel {
    margin: 5px;
    color: var(--color) !important;
    border: 1px solid var(--color) !important;
    padding: 7px 14px;
    background-color: var(--vscode-sideBar-background) !important;
}
.privacy-popup-ok {
    margin: 5px;
    color: var(--color) !important;
    border: 1px solid var(--color) !important;
    color: inherit;
    padding: 7px 14px;
    background-color: var(--vscode-sideBar-background) !important;
}