@font-face {
    font-family: 'codify';
    src: url('codify.woff');
    font-weight: normal;
    font-style: normal;
  }
body.vscode-light {
	--color: #000;
    --secondary: rgba(0,0,0,0.5);
    --dark: rgba(0,0,0,0.7);
}
body {
    overflow: hidden;
}
body.vscode-dark {
	--color: #FFF;
    --secondary: rgba(255,255,255,0.5);
    --dark: rgba(255,255,255,0.7);
}
.presets {
    list-style: none;
    padding: 0;
    margin: 0;
}
.presets li {
    list-style: none;
    cursor: pointer;
    font-size: 1.1em;
    line-height: 1.4em;
}
.presets li:focus {
    /* background-color: var(--secondary); */
    outline: none !important;
}
.presets li:hover {
    color: var(--secondary);
}
/* #quickbar {
    display: inline;
    width: 100%;
}
#quickinput {
    width: calc(100% - 36px);
    height: 32px;
    border: 1px solid var(--secondary);
    background: transparent;
    color: #FFF;
    padding: 0 10px;
    font-size: 1.05em;
    box-sizing: border-box;
}
#quickinput:focus {
    outline: none;
    border: 2px solid var(--secondary) !important;
}
body.vscode-light #quickinput {
	border: 1px solid var(--secondary);
    color: #000;
}
#quicksubmit {
    background: transparent;
    color: var(--dark);
    height: 32px;
    display: flex;
    align-items: center;
    border: 0;
    font-size: 1.25em;
    opacity: 0.3;
    cursor: pointer;
    width: 36px;
    box-sizing: border-box;
    float: right;
    clear: both;
}
body.vscode-light #quicksubmit {
    color: var(--dark);
} */
.presets-title {
    font-size: 14px;
    padding-bottom: 5px;
    font-weight: bold;
    margin-bottom: 5px;
    border-bottom: 1px solid var(--secondary);
    text-transform: uppercase;
    letter-spacing: 1px;
}
body.vscode-light .presets-title {
    border-bottom: 1px solid var(--secondary);
}
.sidebar-controls {
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    background-color: var(--vscode-sidebar-background) !important;
    padding: 0 20px 20px;
    z-index: 10 !important;
    overflow: hidden;
}
#profile {
    font-size: 13px;
    overflow: hidden;
    border: 1px solid var(--secondary);
    padding: 8px 20px;
    color: var(--secondary);
    background: inherit;
    cursor: pointer;
    box-sizing: border-box;
    display: none;
    width: 100%;
    text-align: center;
    margin: 5px 0;
}
body.vscode-light #profile {
    color: var(--secondary);
    border-color: var(--secondary);
}
#profile span {
    font-size: 10px !important;
    overflow: hidden;
}
#settings {
    font-size: 13px;
    border: 1px solid var(--secondary);
    padding: 8px 20px;
    color: var(--secondary);
    background-color: inherit;
    cursor: pointer;
    box-sizing: border-box;
    display: block;
    width: 100%;
    text-align: center;
    margin: 5px 0;
}
body.vscode-light #settings {
    color: var(--secondary);
    border-color: var(--secondary);
}
#login {
    font-size: 13px;
    border: 1px solid var(--secondary);
    padding: 8px 20px;
    color: var(--secondary);
    background: transparent;
    cursor: pointer;
    box-sizing: border-box;
    text-decoration: none;
    display: block;
    width: 100%;
    text-align: center;
    margin: 5px 0;
}
body.vscode-light #login {
    color: var(--secondary);
    border-color: var(--secondary);
}

#logout {
    font-size: 13px;
    border: 1px solid var(--secondary);
    padding: 8px 20px;
    color: var(--secondary);
    background: transparent;
    cursor: pointer;
    box-sizing: border-box;
    text-decoration: none;
    display: block;
    width: 100%;
    text-align: center;
    margin: 5px 0;
    display: none;
}
body.vscode-light #logout {
    color: var(--secondary);
    border-color: var(--secondary);
}


.sidebar-logged {
    white-space: nowrap;
    overflow: hidden;
    display: none;
    margin-bottom: 5px;
    padding: 0 20px;
    width: 100%;
    justify-content: left;
}

.sidebar-logged span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 4px;
}


.sidebar-plan {
    white-space: nowrap;
    overflow: hidden;
    display: none;
    margin-bottom: 5px;
    padding: 0 20px;
    width: 100%;
    justify-content: left;
}

.sidebar-plan span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sidebar-plan-button {
    background-color: transparent !important;
    height: 16px;
    width: 16px;
    display: inline-flex;
    border: 0;
    color: var(--secondary);
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 22px;
    cursor: pointer;
    margin-left: 5px;
}
#datacollection {
    display: none !important;
}
.muted li {
    opacity: 0.3 !important;
}
.muted li:hover {
    color: var(--color) !important;
}

.toolbox-inline {
    display: flex;
    align-items: center;
}

.toolbox-search {
    width: 100%;
    box-sizing: border-box;
    display: block;
    padding: 5px 10px;
    background-color: transparent;
    border: 1px solid var(--secondary);
    color: var(--secondary);
    height: 40px;
}

.toolbox-run {
    width: 40px;
    height: 40px;
    border: 0;
    color: var(--secondary);
    border: 1px solid transparent;
    background: transparent;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    outline: none !important;
}
.toolbox-run-disabled {
    opacity: 0.3;
    cursor: not-allowed;
}
.toolbox-run:focus {
    outline: none !important;
    /* border-color: #da9a35; */
}

.toolbox-container {
    margin-top: 20px;
}
.toolbox-item {
    margin: 3px 0;
}
.toolbox-item:focus {
    font-weight: bold !important;
}

.toolbox-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 3px 0px;
    cursor: pointer;
}
.toolbox-header:hover {
    color: var(--secondary);
}
.toolbox-likes {
    font-weight: bold;
    font-size: 12px;
    margin-left: auto;
}
.toolbox-bookmark {
    margin-left: 5px;
}
.toolbox-bookmark-checked::before {
    content: "\e801";
    font-family: "codify";
    font-style: normal;
    font-weight: normal;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.toolbox-bookmark-unchecked::before {
    content: "\e803";
    font-family: "codify";
    font-style: normal;
    font-weight: normal;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.toolbox-like-checked::before {
    content: "\e802";
    font-family: "codify";
    font-style: normal;
    font-weight: normal;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.toolbox-like-unchecked::before {
    content: "\e804";
    font-family: "codify";
    font-style: normal;
    font-weight: normal;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.toolbox-body {
    display: none;
    overflow-y: auto;
    margin-top: 0px;
    position: absolute;
    top: 50px;
    height: calc(100vh - 50px);
    left: 0;
    right: 0;
    background-color: var(--vscode-editorWidget-background) !important;
    padding: 0 20px 40px 20px;
}
.toolbox-body img {
    width: 100%;
}
.toolbox-controls {
    height: 30px;
    align-items: center;
    display: flex;
    justify-content: flex-end;
}
.toolbox-back {
    width: 80px;
    display: block;
    background: transparent !important;
    border: 1px solid var(--secondary) !important;
    color: var(--secondary);
    padding: 6px 6px;
    cursor: pointer;
    margin-bottom: 10px;
}
.item-active {

}
.item-selected {
    font-weight: bold;
}
.item-active .toolbox-body {
    display: block;
    z-index: 999 !important;
}
.toolbox-notice {
    color: red;
}
.toolbox-notice-hidden {
    display: none;
}