body.vscode-light {
	--color: #000;
    --secondary: rgba(0,0,0,0.5);
    --dark: rgba(0,0,0,0.7);
}

body.vscode-dark {
	--color: #FFF;
    --secondary: rgba(255,255,255,0.5);
    --dark: rgba(255,255,255,0.7);
}
.presets {
    list-style: none;
    padding: 0;
    margin: 0;
}
.presets li {
    list-style: none;
    cursor: pointer;
    font-size: 1.1em;
    line-height: 1.4em;
}
.presets li:focus {
    /* background-color: var(--secondary); */
    outline: none !important;
}
.presets li:hover {
    color: var(--secondary);
}
/* #quickbar {
    display: inline;
    width: 100%;
}
#quickinput {
    width: calc(100% - 36px);
    height: 32px;
    border: 1px solid var(--secondary);
    background: transparent;
    color: #FFF;
    padding: 0 10px;
    font-size: 1.05em;
    box-sizing: border-box;
}
#quickinput:focus {
    outline: none;
    border: 2px solid var(--secondary) !important;
}
body.vscode-light #quickinput {
	border: 1px solid var(--secondary);
    color: #000;
}
#quicksubmit {
    background: transparent;
    color: var(--dark);
    height: 32px;
    display: flex;
    align-items: center;
    border: 0;
    font-size: 1.25em;
    opacity: 0.3;
    cursor: pointer;
    width: 36px;
    box-sizing: border-box;
    float: right;
    clear: both;
}
body.vscode-light #quicksubmit {
    color: var(--dark);
} */
.presets-title {
    font-size: 14px;
    padding-bottom: 5px;
    font-weight: bold;
    margin-bottom: 5px;
    border-bottom: 1px solid var(--secondary);
    text-transform: uppercase;
    letter-spacing: 1px;
}
body.vscode-light .presets-title {
    border-bottom: 1px solid var(--secondary);
}
.sidebar-controls {
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    background-color: var(--vscode-sideBar-background) !important;
    padding: 0 20px 20px;

}
#profile {
    font-size: 13px;
    overflow: hidden;
    border: 1px solid var(--secondary);
    padding: 8px 20px;
    color: var(--secondary);
    background: inherit;
    cursor: pointer;
    box-sizing: border-box;
    display: none;
    width: 100%;
    text-align: center;
    margin: 5px 0;
}
body.vscode-light #profile {
    color: var(--secondary);
    border-color: var(--secondary);
}
#profile span {
    font-size: 10px !important;
    overflow: hidden;
}
#settings {
    font-size: 13px;
    border: 1px solid var(--secondary);
    padding: 8px 20px;
    color: var(--secondary);
    background-color: inherit;
    cursor: pointer;
    box-sizing: border-box;
    display: block;
    width: 100%;
    text-align: center;
    margin: 5px 0;
}
body.vscode-light #settings {
    color: var(--secondary);
    border-color: var(--secondary);
}
#login {
    font-size: 13px;
    border: 1px solid var(--secondary);
    padding: 8px 20px;
    color: var(--secondary);
    background: transparent;
    cursor: pointer;
    box-sizing: border-box;
    text-decoration: none;
    display: block;
    width: 100%;
    text-align: center;
    margin: 5px 0;
}
body.vscode-light #login {
    color: var(--secondary);
    border-color: var(--secondary);
}

#logout {
    font-size: 13px;
    border: 1px solid var(--secondary);
    padding: 8px 20px;
    color: var(--secondary);
    background: transparent;
    cursor: pointer;
    box-sizing: border-box;
    text-decoration: none;
    display: block;
    width: 100%;
    text-align: center;
    margin: 5px 0;
    display: none;
}
body.vscode-light #logout {
    color: var(--secondary);
    border-color: var(--secondary);
}


.sidebar-logged {
    white-space: nowrap;
    overflow: hidden;
    display: none;
    margin-bottom: 5px;
    padding: 0 20px;
    width: 100%;
    justify-content: left;
}

.sidebar-logged span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 4px;
}


.sidebar-plan {
    white-space: nowrap;
    overflow: hidden;
    display: none;
    margin-bottom: 5px;
    padding: 0 20px;
    width: 100%;
    justify-content: left;
}

.sidebar-plan span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sidebar-plan-button {
    background-color: transparent !important;
    height: 16px;
    width: 16px;
    display: inline-flex;
    border: 0;
    color: var(--secondary);
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 22px;
    cursor: pointer;
    margin-left: 5px;
}
#datacollection {
    display: none !important;
}